:root {
    --main-color: rgb(66, 153, 253);
    --second-color: (224, 204, 24);
}

body {
    font-family: roboto, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 100px 500px 250px;
    grid-template-rows: 40px 60px 400px;
}

.header {
    background-color: var(--main-color);
    color: white
}

.search-bar {
    display: grid;
    padding-left: 10px;
    grid-template-columns: 40px 400px;
    align-items: center;
}

input {
    background-color: rgb(235, 235, 235);
    border-style: none;
    border-radius: 10px;
    height: 20px;
    width: 200px;
}

.accounts {
    display: grid;
    grid-template-columns: 50px 50px 100px;
}

.side-bar {
    background-color: var(--main-color);
    grid-row: span 2;
    font-size: 11px;
    display: grid;
    grid-template-columns: 20px 70px;
    grid-template-rows: repeat(10, 40px);
    align-items: center;
    padding-left: 4px;
    color: white;
    font-weight: bold;
}

.greeting {
    padding-left: 10px;
}

.button-bar {
    text-align: center;
    align-content: center;
}

.main-contents {
    background-color: rgb(235, 235, 235);
    grid-column: span 2;
    display: grid;
    grid-template-columns: 2.2fr 0.8fr;
    grid-template-rows: 1fr 1fr
}

.icon {
    width: 15px;
    height: 15px;
    filter: invert(100%);
    position: relative;
    top: -1px;
}

img {
    width: 30px;
    height: 30px;
}

button {
    color: white;
    background-color: var(--main-color);
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
    border-style: hidden;
    height: 25px;
    width: 60px;
    margin: 10px;
}

.projects {
    grid-row: span 2;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.project {
    height: 80px;
    width: 120px;
    margin: 10px;
    background-color: white;
}