body {
    font-family: roboto, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 100px 500px 250px;
    grid-template-rows: 40px 80px 400px;
}

.header {
    background-color: rgb(210, 255, 210);
}

.search-bar {
    background-color: rgb(160, 255, 255);
}

.accounts {
    background-color: rgb(255, 205, 205);
}

.side-bar {
    background-color: rgb(214, 250, 142);
    grid-row: span 2;
    font-size: 12px;
    display: grid;
    grid-template-columns: 15px 85px;
    grid-template-rows: repeat(10, 40px);
}

.greeting {
    background-color: rgb(229, 212, 245);
}

.button-bar {
    background-color: rgb(255, 235, 199);
    text-align: center;
    align-content: center;
}

.main-contents {
    background-color: rgb(255, 255, 209);
    grid-column: span 2;
    display: grid;
    grid-template-columns: 2.2fr 0.8fr;
    grid-template-rows: 1fr 1fr
}

.projects {
    grid-row: span 2;
}

.icon {
    width: 20px;
    height: 20px;
}

button {
    color: blue;
    background-color: chartreuse;
    border-radius: 10px;
    border-style: hidden;
    height: 25px;
    width: 60px;
    margin: 10px;
}